@font-face {
    font-family: Lemon;
    src: url('../public/fonts/Lemon/Lemon-Regular.ttf');
}
:root{
    --n:0;
    --m:0;
    --cellSize:30px;

}
.gameContainer{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.gameField{

    transition: 0.5s;
    border-radius: 25px;
    border: 10px double brown;

    width: calc(var(--n)*var(--cellSize));
    height: 100%;

    display: grid;
    grid-template-columns: repeat(var(--n),var(--cellSize));
    grid-auto-rows: var(--cellSize);
}
.cell{
    width: 100%;
    height: 100%;
    /* width: 20px;
    height: 20px; */
    border: 1px solid black;
}
// .nav{
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     width: 250px;
//     height: 60px;
// }
// .nav button{
//     transition: 0.5s;
//     width: 100px;
//     height: 50px;
//     border-radius: 25px;
//     font-family: lemon;
//     font-size: 17px;
//     font-weight: 600;
// }
// .nav button:hover{
//     transform: scale(1.2);
//     transition: 0.5s;
// }
// .nav button:active{
//     background-color: black;
//     color: white;
//     transition: 0.3s;
// }
// .btnStartStop{
//     background-color: red;
// }
// .btnRestart{
//     background-color: blue;
//     color: white;
// }
.btnPause{
    transition: 0.5s;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    font-family: lemon;
    font-size: 17px;
    font-weight: 600;

    align-self: flex-start;
    background-color: blue;
    color: white;
    // position: absolute;
    // top: 0;
    // left: 0;
}
.btnPause:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.btnPause:active{
    background-color: black;
    color: white;
    transition: 0.3s;
}
.dialogOfPause{
    padding: 0;
    border-radius: 25px;
}
.countContainer{
    min-width: 50px;

    display: flex;
    // flex-direction: column;
    justify-content: space-between;
}
.count{
    margin: 2px 30px;
    min-width: 50px;
    height: 30px;
    text-align: center;
    color: yellow;
    background-color: red;
    border: 5px solid purple;
    border-radius: 25px;
}
.record{
    margin: 2px 30px;

    min-width: 50px;
    height: 30px;
    text-align: center;
    color: yellow;
    background-color: red;
    border: 5px solid purple;
    border-radius: 25px;
}

.navControl{
    width: 1440px;
    display: flex;
    justify-content: space-around;
}
.navControl button{
    transition: 0.5s;
    width: 100px;
    height: 100px;
    border-radius: 25px;
    font-family: lemon;
    font-size: 17px;
    font-weight: 600;
}
.navControl button:active{
    filter: invert(100%);
    transition: 0.01s;
}
.btnRight{
    background-image: url('../public/images/btnRight.jpg');
    background-size: 100px;
}
.btnLeft{
    background-image: url('../public/images/btnLeft.jpg');
    background-size: 100px;
}
.btnTurnClockwise{
    background-image: url('../public/images/btnTurnClockwise.jpg');
    background-size: 100px;
}
.btnTurnCounterclockwise{
    background-image: url('../public/images/btnTurnCounterclockwise.jpg');
    background-size: 100px;
}

.dialogOfLoss{
    padding: 0;
    border-radius: 25px;
    border: none;
}
@media screen and (max-width: 960px) {
    .gameContainer{
        flex-direction: column;
    }
    .gameField{
        order: -1;
    }
    .navControl{
        width: 450px;
    }
    .nav .btnDifficultyLevel{
        width: 10px;
        height: 15px;
        font-size: 0;
        z-index: 1;
    }
}
@media screen and (max-height:760px) and (max-width: 719px) {
    .gameContainer{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .gameField{
        margin: 0 auto;
    }
    .count{
        margin: 2px 15px 2px 0;
    }
    .record{
        margin:0;
    }
    .navControl{
        margin: 0 auto;
    }
}
