@font-face {
    font-family: Lemon;
    src: url('../public/fonts/Lemon/Lemon-Regular.ttf');
}
body{
    padding: 0;
    margin: 0;
}
.container{
    font-family: Lemon;
    max-width: 1440px;
    margin: 0 auto;
}